.banner__logo {
  margin: 10px;
  padding: 10px;
}
.banner__image {
  /* width: 1000px;
  max-height: 40%; */
  object-fit: contain;
}
.banner__container {
  height: 40vh;
  padding: 20px;
  margin-left: 10px;
}
.banner__title {
  margin-top: 80px;
  font-weight: 800;
  font-size: 3rem;
}
.banner__description {
  width: 450px;
  text-shadow: black;
}
.playBtn,
.mylistBtn {
  background-color: rgba(51, 51, 51, 0.5);
  cursor: pointer;
  color: white;
  font-weight: bold;
  width: 100px;
  margin-left: 10px;
  border: none;
  height: 30px;
}

.playBtn:hover,
.mylistBtn:hover {
  background-color: #e6e6e6;
  color: #111;
}
.banner__gradient {
  background-image: linear-gradient(transparent, #111);
  height: 45px;
}
