.poster {
  /* max-width: 200px; */
  object-fit: contain;
  width: 100%;
  max-height: 100px;
  margin-right: 10px;
  /* padding: 20px; */
  transition: transform 600ms;
}
.fullsized {
  max-height: 250px;
}

.poster:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.row__posters {
  display: flex;
  overflow-x: scroll;
  padding: 20px;
}
.row__posters::-webkit-scrollbar {
  display: none;
}
