.poster {
  /* max-width: 200px; */
  object-fit: contain;
  width: 100%;
  max-height: 200px;
  margin-right: 10px;
}
.row__posters {
  display: flex;
}
.poster:hover {
  background-color: aliceblue;
  cursor: pointer;
  z-index: 100;
  transform: scale(1.1);
}
