.poster {
  /* max-width: 200px; */
  object-fit: contain;
  width: 100%;
  max-height: 200px;
  margin-right: 2px;
  padding: 10px;
}
.poster:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.row__posters {
  display: flex;
  overflow-x: scroll;
}
.row__posters::-webkit-scrollbar {
  display: none;
}
